body {
	background-color: silver;
}

a button {
	padding: 5px 25px;
	background-color: #ff9ff3;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #f368e0;
	
	transition: 1s all ease;
}

button:hover {
	background-color: #f368e0;
	color: black;
	border: 1px solid #ff9ff3;
	
	transition: 1s all ease;
}
